*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
  }
  body{
    /*text color*/
    color: white;
    
    background: #000;
  }
  .myContainer{
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
  }

  .animate{
    animation: myAnimationName 5s infinite;
  }

  @keyframes myAnimationName {
    0%{
        color: black;
        margin-bottom: -40px;
    }
    30% {
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{
        letter-spacing: 8px;
        margin-bottom: -40px;
    }
  }